@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;

  --spacing: 0.5rem;
  --border-radius: 1rem;
  --input-padding: 0.5rem 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

[data-overlay-container=true] {
  height: 100%;
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100dvw;
  height: 100dvh;
}

@layer utilities {
  .baseNumberInput {
    @apply w-full lg:w-30;
  }

  .inputWrapper {
    @apply focus-within:text-zinc-900 not-focus:text-zinc-200;
    @apply focus-within:bg-amber-500;
    @apply transition-all duration-200 ease-in-out;
  }

  .label {
    @apply text-2xl;
  }

  .input {
    @apply text-3xl;
  }
}
